<div class="pageContainer">
  <div class="nav">
    <div class="navControl">
      <a href="#">Navigation</a>
    </div>

    <ul>
      <li>
        <a href="">Link 1 <span>&#9662;</span></a>
        <ul class="dropdown">
          <li><a href="">Sub link 1</a></li>
          <li><a href="">Sub link 2</a></li>
          <li><a href="">Sub link 3</a></li>
          <li><a href="">Sub link 4</a></li>
          <li><a href="">Sub link 5</a></li>
          <li><a href="">Sub link 6</a></li>
          <li><a href="">Sub link 7</a></li>
          <li><a href="">Sub link 8</a></li>
        </ul>
      </li>

      <li>
        <a href="">Link 2 <span>&#9662;</span></a>
        <ul class="dropdown">
          <li><a href="">Sub link 1</a></li>
          <li><a href="">Sub link 2</a></li>
          <li><a href="">Sub link 3</a></li>
          <li><a href="">Sub link 4</a></li>
        </ul>
      </li>

      <li><a href="">Link 3</a></li>
      <li><a href="">Link 4</a></li>
      <li><a href="">Link 5</a></li>
      <li><a href="">Link 6</a></li>
      <li><a href="">Link 7</a></li>
      <li><a href="">Link 8</a></li>
      <li><a href="">Link 9</a></li>
      <li><a href="">Link 10</a></li>
      <li><a href="">Link 11</a></li>
    </ul>
  </div>
</div>
